<header>

    <div>

        if (already login){
            1. hello User Name 
            2. Logout Button
        }

        else if (login page) {
            1. Contact List default
            2. Register Button
        }
        
        else if (Register Page) {
            1. Contact list
            2. Login Button 
        }
    </div>

</header>