<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e0a36365df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title> <%= title %> </title>
</head>
<body>

    <h1>
        <i class="fa-solid fa-address-book"></i> 
        Contact List
    </h1>

    <div id="list-container">

        <ul id="list-ul">
            <% for(let i of contact_list) { %>
    
                <li id="list-li">

                    <div id="details">

                        <div id="name-container" class="detail-container">

                            <p id="name" class="element"> 
                                <i class="fa-solid fa-user"></i>
                                <%= i.name  %> 
                            </p>

                        </div>

                        <div id="phone-container" class="detail-container">

                            <p id="phone" class="element">
                                <i class="fa-solid fa-phone"></i>
                                 <%= i.phone  %> 
                            </p>

                        </div>


                    </div>
                </li>
    
            <% } %>
    
        </ul>

    </div>

    <h2>
        <i class="fa-solid fa-paperclip"></i>
        Add Contacts
    </h2>

    <form action="/create-contact" method="post">
        
        <div id="form-deta-div">

            <label for="name">Name :</label>
            <input type="text" name="name" placeholder="Your Name" required>
            
            <label for="phone">Phone no :</label>
            <input type="number" name="phone" placeholder="Your Phone" required>

        </div>
        <!-- <input type="submit" value="Add Contact"> -->
        <button type="submit">Add Contac</button>
    </form>

</body>
</html>