<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e0a36365df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title> <%= title %> </title>
</head>
<body>

    <div id="container">

        <!-- header title  -->
        <h1>
            <i class="fa-solid fa-address-book"></i> 
            Contact List
        </h1>
        
        <!-- stack of all contact list -->
        <div id="list-container">
    
            <!-- contain all the user details -->
            <ul id="list-ul">
                <% for(let i of contact_list) { %>
        
                    <!-- contain one persone details -->
                    <li id="list-li">
                        
                        <!-- container of one person details -->
                        <div id="details">
                            
                            <!-- input box of name -->
                            <div id="name-container" class="detail-container">
    
                                <p id="name" class="element"> 
                                    <i class="fa-solid fa-user"></i>
                                    <%= i.name  %> 
                                </p>
    
                            </div>

                            <!-- input box of phone -->
                            <div id="phone-container" class="detail-container">
    
                                <p id="phone" class="element">
                                    <i class="fa-solid fa-phone"></i>
                                     <%= i.phone  %> 
                                </p>
    
                            </div>
                               
                            <!-- delete button -->
                            <div id="delete-btn">
                                    
                                <a href="/delete-contact/?id=<%= i._id %>">
                                    
                                    <i class="fa-solid fa-trash"></i>

                                </a>
                            </div>

                        </div>

                    </li>
        
                <% } %>
        
            </ul>
    
        </div>
    
        <!-- header of form -->
        <h2>
            <i class="fa-solid fa-paperclip"></i>
            Add Contacts
        </h2>

        <!-- form of adding contact details -->
        <form action="/create-contact" method="post">

            <div id="form-container">

                <!-- takeing name and phone number  -->
                <div id="input-box">
    
                    <div id="form-name" class="input-np">
    
                        <label for="name">Name :</label>
                        <input type="text" class="input-box-size" name="name" placeholder="Your Name..." required>
    
                    </div>
    
                    <div id="form-phone" class="input-np">
    
                        <label for="phone">Phone no :</label>
                        <input type="number" class="input-box-size" name="phone" placeholder="Your Phone..." required>
            
                    </div>
        
                    
                </div>
    
                <!-- submiting the name and phone number -->
                <div id="submit-box">
                    <button type="submit">Add Contact</button>
                </div>

            </div>
            
        </form>

    </div>

</body>
</html> 